NEXT_PUBLIC_SITE_URL=https://thucphamso1.vn
NEXT_PUBLIC_SITE_NAME=Thuc Pham So 1
NEXT_PUBLIC_PHONE=0898 902 222
NEXT_PUBLIC_EMAIL=banhang@thucphamso1.vn
NEXT_PUBLIC_ZALO=0933900922
NEXT_PUBLIC_ADDRESS=Dong Nai, Viet Nam
GOOGLE_SHEET_WEBHOOK_URL=
